/* Noto Sans Regular 400 from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');

/* .App-link {
    color: #61dafb;
} */

body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    /* margin: top right bottom left */
    margin: 0px 0px 10px 0px;
}

.header-container {
    color: #b0b4c2;
    background-color: #001151;
    padding: 30px;
    
}

.title {
    margin: 10px;
}

.sub-title {
    margin: 10px;
}

.page-index-container {
    display: flex;
}

.page-index-element {
    width: calc(100% / 9);
    padding: 0.5rem;
    border: 10px;
    text-align: center;
    /* text-decoration: none; */
    border-color: white;
    background-color: #001151;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

.page-index-link {
    color: #b0b4c2;
    text-decoration: none;
}

.page-index-link:hover {
    text-decoration: underline;
}

.page-title {
    margin: 30px;
}

.main {
    margin: 35px;
    margin-bottom: 120px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #dfe1e7;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .5);
}

.card-sub {
    margin: 5px;
}

.card-time {
    margin: 5px;
}

.card-detail {
    margin: 5px;
}

/* TopPage.tsx */
.text {
    margin-bottom: 10px;
}

.map {
    text-align: center;
}
.map-title {
    margin: 10px 0px 5px 0px;
}

.map-frame {
    text-align: center;
    margin: 10px;
    height: calc(480px - 68px);
    overflow: hidden;
}

.map iframe {
    margin-top: -68px;
}

/* CodingSkillCard.tsx */
.coding-skill-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coding-skill-list-item {
    text-align: center;
    flex-direction: column;
}

.inline-link {
    display: inline;
}

table {
    width: 45%;
}

.td-logo {
    width: 40px;
}

.contact-card {
    text-align: left;
}

.footer-container {
    /* position: sticky; */
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 30px;
    color: #b0b4c2;
    background-color: #001151;
}

.copy-right {
    margin: 10px;
    min-width: 22rem;
}
