/* Noto Sans Regular 400 from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');

/* .App-link {
    color: #61dafb;
} */

body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

.header-container {
    color: #b0b4c2;
    background-color: #001151;
    padding: 30px
}

.title {
    margin: 10px;
}

.sub-title {
    margin: 10px;
}

.page-index-container {
    display: flex;
}

.page-index-element {
    width: calc(100% / 9);
    padding: 0.5rem;
    border: 10px;
    text-align: center;
    /* text-decoration: none; */
    border-color: white;
    background-color: #001151;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

.page-index-link {
    color: #b0b4c2;
    text-decoration: none;
}

.page-index-link:hover {
    text-decoration: underline;
}

.page-title {
    margin: 30px;
}

.main {
    margin: 35px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 20px;
    border-color: #848cac;
}

.card-sub {
    margin: 5px;
}

.card-time {
    margin: 5px;
}

.card-detail {
    margin: 5px;
}

.footer-container {
    padding: 30px;
    color: #b0b4c2;
    background-color: #001151;
}

.copy-right {
    margin: 10px;
    min-width: 22rem;
}
